#label_link {
    opacity: 1;
    width: 100%;
    /*height: 5rem;*/
}
#cameraBox {
    margin-top: 2em;
}
#spacer{
    margin-bottom: 50px;
}
#screenshot {
    border: 2px solid black;
    margin-bottom: 50px;
}

#impressum-link {
    float: right;
}

a[role="button"] {
    margin-bottom: 2em;
}

#error {
    background-color: var(--form-element-invalid-border-color) !important;
    color: white;
    padding: 2em;
    display: none;
}

/*
#button {
    height: 5rem;
}
#coolID{
    vertical-align: top;
    display: inline;
}*/